/* --- Tailwind layers --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom global style --- */
@layer base {
  html, body {
    @apply font-sans text-gray-800 bg-white;
  }

  img, video {
    @apply block max-w-full h-auto;
  }

  *, *::before, *::after {
    @apply box-border;
  }
}

/* --- Đè font cho Ant Design --- */
:root,
body,
.ant-typography,
.ant-btn,
.ant-menu,
.ant-input,
.ant-select,
.ant-modal,
.ant-dropdown,
.ant-table,
.ant-card,
.ant-form,
.ant-breadcrumb,
.ant-radio,
.ant-checkbox,
.ant-segmented {
  font-family: "Inter", "Noto Sans JP", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.font-mplus {
  font-family: "M PLUS 1p", sans-serif !important;
}


/* Scrollbar nhỏ, đè lên nội dung */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Bỏ padding mặc định của mọi Modal antd */
.ant-modal .ant-modal-content {
    padding: 0 !important;
}

.ant-modal .ant-modal-body {
    padding: 0 !important;
}

/* Modal cần padding: override lại */
.with-padding-modal .ant-modal-content,
.with-padding-modal .ant-modal-body {
    padding: 16px !important;   /* hoặc giá trị bạn muốn */
}
